
.inputPassword {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.inputPassword label {
  font-size: 1rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 1);
}

.inputPassword input {
  font-family: inherit;
  width: 100%;
  font-size: 0.8rem;
  padding: 0.8rem;
  padding-right: 3.5rem;
  border: 2px solid #ccc;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.inputPassword input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6), 0 0 5px rgba(0, 123, 255, 0.3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.inputToggle {
  position: relative;
  display: inline-block;
  width: 100%;
}

.toggleButton {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton img {
  width: 1.5rem;
  height: 1.5rem;
}

.toggleButton img:focus {
  border: 2px solid white;
  outline: none;
}

@media (max-width: 480px) {
  .inputPassword label {
    font-size: 12px;
  }

  .inputPassword input {
    font-size: 14px;
    padding: 6px;
    max-width: 100%;
  }
}
