.input-password {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.input-password input {
  font-family: "Press Start 2P", system-ui;
  width: 100%;
  font-size: 0.8rem;
  padding: 0.6rem;
  background-color: #f9f9f9;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.input-password input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6), 0 0 5px rgba(0, 123, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.input-toggle {
  position: relative;
  display: inline-block;
  width: 100%;
}

.toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button img {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  .input-password label {
    font-size: 12px;
  }

  .input-password input {
    font-size: 14px;
    padding: 6px;
    max-width: 350px;
  }
}
