.contentContainer {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  align-items: center;
  width: 100%;
  padding-top: 10rem;
}

.gameSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  width: 100%;
  /* max-width: 400px; */
}

.gameButton {
  /* width: clamp(150px, 60%, 280px); */
  width: 80%;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
  background-size: cover;
  background-position: left;
}

.gameButton:hover {
  transform: scale(1.05);
}

.gameButton:nth-child(1) { background-image: url('/src/assets/buscaminas.png'); }
.gameButton:nth-child(2) { background-image: url('/src/assets/X0.png'); }
/* .gameButton:nth-child(3) { background-image: url('/images/gachapon.jpg'); } */

@media (max-width: 600px) {
  .gameSelection {
    width: 100%;
  }

  /* .gameButton { */
  /*   width: clamp(120px, 80%, 200px); */
  /* } */
}
