.link {
  text-align: center;
  font-size: 14px;
}

.link a {
  color: #ffd000;
  text-decoration: none;
  display: inline-block;
  animation: glow-text 3s infinite ease-in-out;
}

.link a:hover {
  color: #ffc300;
  text-decoration: underline;
}

.disabled-link {
  pointer-events: none; /* 🔹 Deshabilita clics */
  opacity: 0.6; /* 🔹 Reduce visibilidad */
  cursor: not-allowed; /* 🔹 Indica que está inactivo */
}

@keyframes glow-text {
  0% { text-shadow: 0 0 2px rgba(255, 208, 0, 0.5); }

  50% { text-shadow: 0 0 10px rgba(255, 208, 0, 0.8); }

  100% { text-shadow: 0 0 2px rgba(255, 208, 0, 0.5); }
}
