.content {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
  width: 95%;
  top: 1rem;
  margin: 1rem auto;
  flex-wrap: wrap;
  z-index: 2;
}
