.Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 100vw;
  padding: 5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  animation: fadeIn 0.4s ease-out forwards;
  /* transition: filter 0.5s ease-in-out; */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 3vw, 2rem);
  width: clamp(300px, 90%, 450px);

  height: 100vh;
  justify-content: center;
  align-items: center;

  /* min-height: 0vh; */
}

.gameTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 3vw, 2rem);
  filter: drop-shadow(0.5rem 0.5rem rgba(0, 0, 0, 1));
  text-align: center;
}

.titleText {
  font-size: clamp(3rem, 15vw, 9rem);
  font-weight: bold;
  color: #ffcc00;
  animation: pulseGlow 1.5s infinite alternate;
}

.startButton {
  font-size: clamp(1rem, 5vw, 2rem);
  padding: 0.5rem 1rem;
  width: 100%;
  background: #ff2200;
  /* background: linear-gradient(45deg, #ff2200, #ff6600); */

  text-shadow: 4px 4px rgba(0, 0, 0, 0.6);

  color: #fff;
  /* border: 3px solid #fff; */
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 1);
}

.startButton:hover {
  transform: scale(1.05);
}

.startButton:active {
  transform: scale(0.95);
}

.startButton:focus {
  border: 5px solid white;
  outline: none;
}

.startButton:disabled {
  background: linear-gradient(45deg, #888, #555); /* 🔄 Colores más apagados */
  color: #ccc;
  text-shadow: none;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.soundIcon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: clamp(7rem, 10vw, 8rem);
  cursor: pointer;
  filter: drop-shadow(8px 8px rgba(0, 0, 0, 0.5));
  transition: transform 0.2s ease-in-out;
  /* opacity: 0.5; */
}

.soundIcon:hover {
  transform: scale(1.1);
  /* filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 1)); */
  filter: drop-shadow(8px 8px rgba(0, 0, 0, 7));
  /* opacity: 1; */
}

.soundIcon:active {
  /* filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); */
  filter: drop-shadow(8px 8px rgba(0, 0, 0, 1));
  transform: scale(0.9);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes pulseGlow {
  0% {
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 1),
                 0 0 20px rgba(255, 204, 0, 0.5);
    filter: brightness(1);
  }
  50% {
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 1),
                 0 0 30px rgba(255, 204, 0, 1);
    filter: brightness(1.001);
  }
  100% {
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 1),
                 0 0 35px rgba(255, 204, 0, 1.2);
    filter: brightness(1);
  }
}
