.leaderboardModal {
  position: fixed;
  display: flex;
  z-index: 9999;
  background-color: #286013;
  padding: 2rem;
  gap: 1.25rem;
  border-radius: 0.8rem;
  text-align: center;
  flex-direction: column;
  width: min(100vw, 700px);
  color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: fadeIn 0.1s ease-out forwards;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.title {
  color: #ffcc00;
  filter: drop-shadow(0.3rem 0.3rem rgba(0, 0, 0, 1));
  font-size: 2.5vw;
  text-align: center;
  animation: pulseGlow 1.5s infinite alternate;
}

.icon {
  width: 32px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
}

.tableContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.leaderboardTable {
  width: 90%;
  border-collapse: collapse;
  background-color: #3A7F20;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  overflow: hidden;
  text-shadow: 3px 3px #b18200a9;
}

.leaderboardTable td {
  padding: 1rem;
  text-align: center;
}

.leaderboardTable th {
  background: #5A3825;
  color: #FFCC00;
  text-transform: uppercase;
  padding: 1.5rem;
}

.leaderboardTable tr:nth-child(even) {
  background: #C2A468;
}

.leaderboardTable tr:nth-child(odd) {
  background: #E7CA8E;
}

.leaderboardTable tr:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.top3 {
  text-shadow: 1.9px 1.9px rgba(0, 0, 0, 0.5);
}

.top3:nth-child(1) {
  background: #ffcc00 !important;
  font-size: 1.25rem;
  color: #274A78;
}

.top3:nth-child(2) {
  background: #8C8070 !important;
  font-size: 1.15rem;
  color: #FFD580;
}

.top3:nth-child(3) {
  background: #A65D3B !important;
  font-size: 1.05rem;
  color: #F2E5D3;
}

@keyframes pulseGlow {
  0% {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1),
      0 0 20px rgba(255, 204, 0, 0.5);
    filter: brightness(1);
  }

  50% {
    text-shadow: 5px 5px 2.5px rgba(0, 0, 0, 1),
      0 0 30px rgba(255, 204, 0, 1);
    filter: brightness(1.001);
  }

  100% {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1),
      0 0 35px rgba(255, 204, 0, 1.2);
    filter: brightness(1);
  }
}

/* ✅ Ajustar el contenedor para móviles */
@media (max-width: 600px) {
  .leaderboardModal {
    width: 90%;
    padding: 1rem;
    font-size: 3vw;
  }

  .top3:nth-child(1) {
    font-size: 2.5vw;
  }

  .top3:nth-child(2) {
    font-size: 2.4vw;
  }

  .top3:nth-child(3) {
    font-size: 2.3vw;
  }

  .title {
    font-size: 5vw;
  }

  .leaderboardTable {
    width: 100%;
    font-size: 2vw;
  }
}

/* ✅ Scroll horizontal en móviles para la tabla */
@media (max-width: 450px) {
  .tableContainer {
    overflow-x: auto;
    display: block;
  }

  .leaderboardTable th,
  .leaderboardTable td {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
  .leaderboardModal {
    max-width: 50vw;
    /* Para evitar que se vea demasiado grande en pantallas grandes */
  }
}
